.venv*
sbi-logs*
__pycache__*
launch.json
*.pt
*.pkl
*.fits
*.sh
!exp_scripts/*
!setup_pytorch.sh
simulations/*
ultranest_logs/*
results/*
nle_out/*
exp_out/*
nice_rig/*

!dipolesbi/catwise/0p5_17p0/data/**
!dipolesbi/catwise/0p7_16p8/data/**
!dipolesbi/catwise/0p0_17p2/data/**
!dipolesbi/catwise/alpha_colors.fits

*.png
*.pdf
